<div id="api-list">
    <h2 class="off-left">> Reference</h2>
    <ol id="keyword-list"> 
        <li><a href="{{projectRoot}}classes/$namespace.html#namespace-global" target="_self"><strong>$global</strong></a></li>
    {{#classes}}
        <li><a href="{{../projectRoot}}classes/{{name}}.html"><strong>{{displayName}}</strong></a></li>
    {{/classes}}
        <li><a href="{{projectRoot}}classes/$def.html#class-istypeof" target="_self">Object.<strong>isTypeOf</strong></a></li>
    </ol>

    <h2 class="off-left">> Object-oriented programming</h2>
    <ol id="oop-hints">
        <li><a href="{{projectRoot}}classes/$namespace.html#method_register" target="_self">Registering namespaces how-to</a></li>
        <li><a href="{{projectRoot}}classes/$namespace.html#method_using" target="_self">Importing namespaces</a></li>
        <li><a href="{{projectRoot}}classes/$def.html#class-define"target="_self">Define a class how-to</a></li>
        <li><a href="{{projectRoot}}classes/$def.html#class-constructors" target="_self">Class constructors</a></li>
        <li><a href="{{projectRoot}}classes/$def.html#class-properties" target="_self">Class properties</a></li>
        <li><a href="{{projectRoot}}classes/$def.html#class-methods" target="_self">Class methods</a></li>
        <li><a href="{{projectRoot}}classes/$def.html#class-events" target="_self">Custom events how-to</a></li>
        <li><a href="{{projectRoot}}classes/$def.html#class-instances" target="_self">Creating class instances how-to</li>
        <li><a href="{{projectRoot}}classes/$def.html#class-inheritance" target="_self">Class inheritance how-to</a></li>
        <li><a href="{{projectRoot}}classes/$def.html#class-polymorphism" target="_self">Class polymorphism how-to</a></li>
    </ol>

    <h2 class="off-left">> Quick links</h2>
    <ol id="quick-links">
        <li><a href="http://joopl.codeplex.com">Official Codeplex Web site</a></li>
        <li><a href="https://joopl.codeplex.com/downloads/get/674883"><strong>Download minified jOOPL 2.2.0</strong></a></li>
        <li><a href="http://joopl.codeplex.com/SourceControl/BrowseLatest">Browse latest source code</a></li>
        <li><a href="http://joopl.codeplex.com/discussions">Discussion board</a></li>
        <li><a href="http://joopl.codeplex.com/workitem/list/basic">Issue tracker</a></li>
        <!--<li><a href="{{projectRoot}}classes/$def.html#class-properties" target="_self">Test</a></li>-->
    </ol>

    <div id="api-tabview" class="tabview" style="display: none">
        <ul class="tabs">
            <li><a href="#api-classes">Classes</a></li>
            <li><a href="#api-modules">Modules</a></li>
        </ul>

        <div id="api-tabview-filter">
            <input type="search" id="api-filter" placeholder="Type to filter APIs">
        </div>

        <div id="api-tabview-panel">
            <ul id="api-classes" class="apis classes">
            {{#classes}}
                <li><a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
            {{/classes}}
            </ul>

            <ul id="api-modules" class="apis modules">
            {{#allModules}}
                <li><a href="{{../projectRoot}}modules/{{name}}.html">{{displayName}}</a></li>
            {{/allModules}}
            </ul>
        </div>
    </div>
</div>
